html {
  -webkit-font-smoothing: antialiased;
  background-color: #d8d8d8;
}

body {
  margin: 0 auto;
  padding: 30px;
  max-width: 960px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  height: 100%;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: white;
    padding: 5px;
}

.left_content {

}

.right_content {

}

.button
{
    height: 40px;
    width: 70px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: 0;
    border:0;
}

.button.warning
{
    background-color: #F90000;
}

.button.action
{
    background-color: #00B22D;
}

.center-text
{
    text-align: center;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}


